
.error {
    -fx-text-fill: #cf6679 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #0f1115;
}

.tooltip-text {
    -fx-text-fill: white;
}
