.help-container {
    -fx-background-color: white;
}

.help-text-area {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.help-text-area .content {
    -fx-background-color: white;
}

.help-text-area {
    -fx-control-inner-background: white;
}
