#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #00312f;
}

#copyButton:hover {
    -fx-background-color: #005958;
}

#copyButton:armed {
    -fx-background-color: #014848;
}

#helpMessageContainer {
    -fx-background-color: #11151b;
}
